<!DOCTYPE html>
<html>
<head>
  <title>Tool Inventory</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <h2 class="page-title">Tool Inventory</h2>
  
  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>Tool Name</th>
          <th>Description</th>
          <th>Category</th>
          <th>Quantity</th>
          <th>Price per Hour</th>
        </tr>
      </thead>
      <tbody>
        
        
        
        <tr>
          <td>Power Drill</td>
          <td>A tool used for drilling holes or driving screws.</td>
          <td>Power Tools</td>
          <td>5</td>
          <td>$10.50</td>
        </tr>
        <tr>
          <td>Garden Shears</td>
          <td>Used for trimming plants and shrubs.</td>
          <td>Gardening Tools</td>
          <td>8</td>
          <td>$7.75</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>
